.navegation-arrows {
  img {
    width: 72px;
    height: auto;
  }
}

.carrousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slide {
  padding-left: 20px;
  
  img {
    object-fit: cover;
    height: 600px;
    width: 420px;
    position: relative;
  }

  p {
    width: 420px;
    color: white;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 85%;
    left: 0;
    transform: translate(-50% -50%);
    z-index: 2;
  }
}