<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrousel of pics</title>
    <link rel="stylesheet" href="styles/style.css" />
</head>
<body>
    <div class="container">
        <div class="navegation-arrows">
            <img src="img/left-arrow.svg" alt="left arrow">
            <img src="img/right-arrow.svg" alt="right arrow">
        </div>    
        <div class="carrousel">
            <div class="slide">
                <p>Copenhagen</p>
                <img src="img/copenhagen.jpg" alt="Copenhagen">
            </div>
            <div class="slide">
                <p>Paris</p>
                <img src="img/paris.jpg" alt="Paris">
            </div>
            <div class="slide">
                <p>Berlin</p>
                <img src="img/berlin.jpg" alt="Berlin">
            </div>
        </div>
    </div>
</body>
</html>